.card {
  width: 18rem;
}
.card:hover {
  cursor: pointer;
  border-color: black;
}
.card-img-top {
  padding: 4px;
}
.selectedcard {
  border-color: black;
}
.guideimg {
  width: 50%;
  max-width: 720px;
}
#emailcard,
#emailcard:hover {
  border: none !important;
  cursor: default;
}
#aflogo {
  height: 63px;
}
#aflogonav {
  height: 63px;
  margin-left: 6px;
}
#headercontainer {
  padding-top: 3.2rem;
}
.maincontainer {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}
.maintext {
  padding-bottom: 1.6rem;
}

.hiddeninput {
  display: none;
}

/* Swiper @suraj*/

.swiper-container {
  height: 100%;
}

.slider-image img{
  border-radius: 4px;
}

.title-btm{
  background: #f8e052;
  position: absolute;
  padding: 4px 0.6rem;
  font-size: 0.74rem;
  color: #222222;
  bottom: 0;
  left: 50%;
  font-weight: 600;
  border-radius: 4px;
  text-transform: uppercase;
  transform: translate(-50%,50%);
  box-shadow: 1px 5px 8px 0px #00000012;
  font-family: 'Montserrat', Roboto, 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

@media (max-width: 800px) {
  #da {
    margin-top: 6px;
  }
  .swiper-container.two {
    width: 100vw;
    height: initial;
    margin-left: calc(-50vw + 50%);
  }
  /* #headercontainer{
        display: flex;
        height: 6rem;
    } */
}
